.vs/
*.VC.db
*.VC.opendb
*.suo
*.user
*.userosscache
*.sln.docstates

# Build output
Debug/
Release/
x64/
x86/
out/
build/

# CMake
CMakeFiles/
CMakeCache.txt
cmake-build-*/
compile_commands.json

# Binaries
*.exe
*.obj
*.pdb
*.ilk
*.lib
*.dll